<% include partials/header %>
<h1>Dashboard</h1>
<p>Welcome, you are now logged in.</p>
<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout.</a></li>

<% include partials/footer %>